.footer-container{
    padding-top: 75px;
    padding-bottom: 75px;

    padding-left: 300px;
    padding-right: 300px;

    background-color: #1f2833;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.footer-container h1{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: thin;
    color: #fff;
}
.social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.WishlistButton{
    margin-top: 20px;
    width: 100%;
    background-color: #49d3d9;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: thin;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

.WishlistButton:hover{
    background-color: #40b2b8;
}

@media screen and (max-width: 850px) {
    .footer-container{

    
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media screen and (max-width: 520px) {
    .footer-container{

    
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width: 400px) {
    .footer-container{

    
        padding-left: 50px;
        padding-right: 50px;
    }
}